:root {
  --accent-color: #ffa500;
  --background-color: #184669;
  font-family: "PT Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--accent-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 90vh;
  color: var(--accent-color);
  transition: background-color 0.25s ease-out;
  background-color: var(--background-color);
}

#app {
  margin: 0 auto;
}

.Wrapper {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 20px 40px 1px rgba(1, 1, 1, 0.1);
  border: 1px solid #00000050;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 4px;
}

.tile {
  width: 100px;
  height: 100px;
  font-size: 1.5em;
  line-height: 0;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: border-color 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
  color: rgba(255, 255, 255, 0.25);
  background-color: var(--background-color);
  filter: brightness(0.7);
  position: relative;

  .tile__svg {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

  .tile__number {
    position: relative;
    z-index: 1;
  }

  svg {
    color: #151515;
    width: 100%;
    height: 100%;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    width: 100px;
    height: 100px;
    z-index: 1;
    content: "";
    border-radius: 10px;
    transition: all 0.2s ease-out;
    background-color: inherit;
  }
}

.tile.tile--active {
  filter: brightness(1);
  background-color: var(--accent-color);
  color: black;

  svg {
    color: var(--accent-color);
  }

  &::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    content: "";
  }
}

.tile.tile--correct {
  position: relative;

  &::after {
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 1;
    content: "";
  }
}

.tile.tile--incorrect {
  background-color: #ff4040;

  &::after {
    transform: translate(-50%, -50%) rotate(5deg)  scale(1.15);
    opacity: 1;
    content: "";
  }
}

.Timer {
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 8px;
  background-color: var(--background-color);
  margin-bottom: 10px;
}

.Timer__progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 8px;
  width: 100%;

  background-color: var(--accent-color);
  transition: width 1s, background-color 1s; /* Transition for width and background-color change */
}

.Timer__value {
  display: none;
  text-align: center;
  font-size: 16px;
  color: #333;
  position: relative;
  z-index: 1;
}

button:hover {
  border-color: #000000;
}

button:focus,
button:focus-visible {
  border: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  color: #717171;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* pt-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/pt-mono-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
